@using static POC.Identity.Helper.NavigationIndicatorHelper;
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="~/Home" class="brand-link">
        <img src="~/img/gem/gemLogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">AdminLTE</span>
    </a>
    <div class="sidebar">
        @if (User.Identity.IsAuthenticated)
        {
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="~/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">Hi, @User.Identity.Name </a>
                </div>
            </div> 
        }
            else
            {
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="info">
                        <a href="#" class="d-block">Hi, Visitor</a>
                    </div>
                </div>
        }
    <nav class="mt-2">
        <ul class="nav nav-treeview nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
            @Html.Raw(HttpContextAccessor.HttpContext.Session.GetString("menuString"))
        </ul>
    </nav>
    </div>
</aside>
    <script>
        $(document).ready(function () {
        // javascript for AdminLTE submenu open / select.
        var url = window.location;
        const allLinks = document.querySelectorAll('.nav-item a');
        const currentLink = [...allLinks].filter(e => {
            return e.href == url;
        });

        currentLink[0].classList.add("active");
        currentLink[0].closest(".nav-treeview").style.display = "block ";
        currentLink[0].closest("ul.nav-treeview").closest('li').classList.add('menu-open');
        $('.menu-open').find('a').each(function () {
            if (!$(this).parents().hasClass('active')) {
            $(this).parents().addClass("active");
                $(this).addClass("active");
            }
        });
    });
    //this makes the current link containing li of class "active"
    $(document).ready(function () {
        var url = window.location.href;
        var activePage = url;
        $('.nav-item a').each(function () {
            var linkPage = this.href;

            if (activePage == linkPage) {
            $(this).closest("li").addClass("active");
            }
        });
    });
</script>
